.sponsors {
    display: flex;
    flex-wrap: wrap;
}

.sponsor {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s all;
}

.sponsor:hover {
    box-shadow: 0 0 10px black;
    color: black;
}

.sponsor div {
    margin: 10px;
}